@font-face {
	font-family: fontys-bold;
	src: url(../public/Fyfrubol_3.ttf);
}

@font-face {
	font-family: fontys-light;
	src: url(../public/Fyfrurom.ttf);
}

.fontys-bold {
	font-family: 'fontys-bold';
}

.fontys-light {
	font-family: 'fontys-light';
}

.fontys-spacing {
	letter-spacing: 0.3em;
}

.square:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.home {
	background-image: url('../public/home.png');
	background-repeat: no-repeat;
	background-size: cover;
}
